
body {
  position: relative;
  margin: 0px;
}

html {
  margin: 0px;
  overflow: hidden;
}

.airport {
  fill: orange;
  opacity: 0.5;
}

.airport:hover {
  fill: rgba(223, 85, 83, 1);
}

.logo {
  position: absolute;
  width: 150px;
  margin: 4.5px;
  right: 30px;
  cursor: pointer;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #76b99a;
}

svg {
  background: #d5d5d5;
  width: 100%;
  height: 100vh;
  border-color: red;
  cursor: pointer;
}

#opener_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

#opener {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

#opener_inner {
  width: 450px; height: auto;
  position: absolute;
  margin: 0 auto;
  left: 5%;
  right: 0;
  top: 35%;
  bottom: 0;
}

#opener_inner img {
  width: 450px;
  height: auto;
}

#opener_inner p {
  margin-top: -15px;
  color: DimGray;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}

#cover_logo {
  background-color: #d5d5d5;
  position: absolute;
  width: 250px;
  height: 100px;
  top: 0px;
  right: 0;
  bottom: 8px;
}

#img_circle {
  zoom: 1;
  background-color: rgba(223, 85, 83, 0.6);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: fixed;
  top: 12%;
  left: 6%;
  /*cursor: pointer;*/
}

#loc_price {
  width: 200px;
  height: 32px;
  position: fixed;
  top: 100px;
  -webkit-transform: rotate(-10deg);
}

#loc_price a {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  vertical-align: middle;
}

#navigation_container {
  position: fixed;
  top: 100px;
  left: -20px;
   margin: 0 auto;
   width: 200px;
}

.rectangle {
   background: orange;
   height: 31px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 3em 0;
   cursor: pointer;
}

#navigation{
  color: white;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
}

.l-triangle-top {
  zoom: 0.5;
   border-color: orange transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 90px;
   left: -50px;
}

.l-triangle-bottom {
    zoom: 0.5;
   border-color: transparent transparent orange;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 50px;
   left: -150px;
}

.r-triangle-top {
    zoom: 0.5;
   border-color: orange transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -50px;
   top: -140px;
}

.r-triangle-bottom {
  zoom: 0.5;
   border-color: transparent transparent orange;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -185px;
   right: -145px;
}

#montage {
  display: none;
  z-index: 2000;
}

#emirates{
  display: inline-block;
  text-align: center;
  background-color: darkred;
}
#goToEmirates {
  vertical-align: middle;
  z-index: 2000;
  font-size: 3em;
  /*box-shadow: 3 3 10 black;*/
  border-radius: 1em;
  /*border: 3px solid black;*/
  margin: .5em;
  padding: .5em;
  background-color: darkred;
  /*font-weight: bolder;*/
  color: white;
  border: none;
  /*font*/
}

#skyscanner {
  display: none;
  position: fixed;
  margin-top: 0;
  border:5px solid black;
  width: 400px;
  height:400px;
}

#city-title {
  position: fixed;
  left: 20px;
  top: 0px;
  font-family: Gill Sans Extrabold, sans-serif;
}

