
body {
  position: relative;
}

html {

}

.airport {
  fill: orange;
  opacity: 0.5;
  /*display: none;*/
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #76b99a;
}

svg {
  background: #d5d5d5;
  width: 100%;
  height: 100vh;
}

#logo {
  position:  absolute;
  width: 150px;
  margin: 10px;
  right: 30px;
}